<div class="row text-center sops-middle">

    <div class="col-xs-4">

        <a href="/Home/Knowledge">
            <img src="../../images/index_13.jpg" />
        </a>
        <div class="caption">
            <h3>
                <a href="/Home/Knowledge">信息检索</a>
            </h3>

        </div>
    </div>

    <div class="col-xs-4">

        <a href="/Question">
            <img src="../../images/index_15.jpg" />
        </a>
        <div class="caption">
            <h3>
                <a href="/Question">问题沟通与反馈</a>
            </h3>

        </div>
    </div>

    <div class="col-xs-4">

        <a href="/Experience">
            <img src="../../images/index_17.jpg" />
        </a>
        <div class="caption">
            <h3>
                <a href="/Experience">经验优化建议</a>
            </h3>

        </div>
    </div>

</div>

<div class="clear"></div>

<div class="row">
    <div id="component-inline">

        <ul data-bind="foreach: products1">
            <li class="product">
                <strong data-bind="text: name"></strong>
                <like-widget params="value: userRating"></like-widget>
            </li>
        </ul>

    </div>
</div>

<hr/>
<div class="row">
    <div id="component-amd">
        <ul data-bind="foreach: products2">
            <li class="product">
                <strong data-bind="text: name"></strong>
                <like-or-dislike params="value: userRating"></like-or-dislike>
            </li>
        </ul>
        <button data-bind="click: addProduct">Add a product</button>
    </div>
</div>