<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Gsp - Admin Template</title>


    <!--Gsp Stylesheet [ REQUIRED ]-->
    <link href="css/gsp.min.css" rel="stylesheet">


    <!--Gsp Premium Icon [ DEMONSTRATION ]-->
    <link href="css/demo/gsp-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="css/demo/gsp-demo.min.css" rel="stylesheet">


        
    <!--Morris.js [ OPTIONAL ]-->
    <link href="plugins/morris-js/morris.min.css" rel="stylesheet">


    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="plugins/magic-check/css/magic-check.min.css" rel="stylesheet">

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="plugins/pace/pace.min.css" rel="stylesheet">
    
    <!--JAVASCRIPT-->
    <!--=================================================--> 
    <script src="plugins/pace/pace.min.js"></script>

  
    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="js/gsp.min.js"></script> 
    <!--=================================================-->
    
    <!--Demo script [ DEMONSTRATION ]-->
    <script src="js/demo/gsp-demo.min.js"></script>
 
    <!--Morris.js [ OPTIONAL ]-->
    <script src="plugins/morris-js/morris.min.js"></script>
	<script src="plugins/morris-js/raphael-js/raphael.min.js"></script>
 
    <!--Sparkline [ OPTIONAL ]-->
    <script src="plugins/sparkline/jquery.sparkline.min.js"></script>
 
  
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "gsp-", they are only used for demonstration. -->
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">
        
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
       
            


        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div id="center" class="boxed">




        </div>

        

        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">



        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


    
    <!-- 设置 - DEMO PURPOSE ONLY -->
    <!--===================================================-->
    <div id="gsp-set" class="gsp-set">

    </div>
    <!--===================================================-->
    <!-- END 设置 -->


</body>
</html>
