<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" /> 
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link href="css/global.css" rel="stylesheet" />

    <script src="lib/react.min.js"></script>
    <script src="lib/react-dom.min.js"></script>
</head>

<body class="sops">
    <div class="container-fluid">
        <div class="row sops-top">
            <div class="col-xs-3 no-padding">
                <img src="images/home_01.jpg" />
            </div>
            <div class="col-xs-4">
                <h3>网点运营管理辅助平台</h3>
            </div>
            <div class="col-xs-5 text-right">
                <div class="col-xs-10" style="padding-top:1em;">
                    <p>
                        欢迎登陆
                        <br />
                        <b>123</b>
                    </p>
                </div>
                <div class="col-xs-2">
                    <img src="images/user2.jpg" style="margin-top:0.5em;" />
                </div>

            </div>
        </div>

        <div class="row asm-center" id="app">
 

        </div>


        <div class="clearfix"></div>

        <div class="row no-padding sops-bottom">
            <div class="col-xs-6 text-left">
                ©中国银行软件中心
            </div>
            <div class="col-xs-6 text-right">
                2015
            </div>
        </div>
    </div>
</body>

</html>