<div class="row sops-top">
    <div class="col-xs-2">
        <a href="">
            <img src="../../images/index_02.jpg" style="margin-top:-2px;" />
        </a>
    </div>
    <div class="col-xs-4">

        <h3><a href="">网点运营管理辅助平台 </a></h3>

    </div>
    <div class="col-xs-6 pull-right">
        <div class="col-xs-10 text-right">
            <p style="margin:0; padding-top:1.5em;">
                欢迎登陆/<a href="javascript:window.close();">注销</a>
                <br />
            </p>
        </div>
        <div class="col-xs-2 text-left">
            <img src="../../images/user.jpg" style="margin-top:0.5em;" />
        </div>

    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>
<div class="row no-padding text-center sops-nav sops-bg">

    <div class="col-xs-1 text-left">
        <img src="../../images/icon_02.jpg" />
    </div>
    <div class="col-xs-3">
        <a data-bind="attr:{href:links.knowledge}">信息检索</a>
    </div>
    <div class="col-xs-4">

        <a data-bind="attr:{href:links.question}">问题沟通与反馈</a>

    </div>
    <div class="col-xs-4">

        <a data-bind="attr:{href:links.experience}">经验优化建议</a>

    </div>

    <div class="clear"></div>
</div>