<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <title>让我们的IE6飞起来</title>
    <meta name="viewport" content="width=device-width" />
    <!--[if lt IE 9]>
      <script src="js/lib/html5shiv.js"></script>
      <script src="js/lib/respond.min.js"></script>
      <script src="js/lib/json2.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="container" id="app">

        <div data-bind='component: {
                            name: "top-nav",
                            params: { links: topNav.links }
                        }'></div>

        <div class="clear"></div> 

        <div data-bind='component: {
                            name: "home-center",
                            params: { links: homeCenter.links }
                        }'></div>

        <div class="row no-padding sops-bottom">
            <div class="col-xs-6 text-left">
                ©中国银行软件中心111
            </div>
            <div class="col-xs-6 text-right">
                2015
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>

</html>