
{{#> _layouts}}

        <div class="clear"></div>

        <div class="row sops-b-l">

            <h3 data-bind="text: page.title" class="col-xs-3">
                
            </h3>

            <div class="clear"></div>
        </div>
        
        <div data-bind="component: {
            name:'edit',
            params: params
        }"></div>


{{/_layouts}}
