{{#> _layouts}}

    <div data-bind='component: {
                        name: "home-center",
                        params: { links: homeCenter.links }
                    }'></div>
                    

{{/_layouts}}