 {{#> _layouts}}

 

        <div data-bind="component: {
                            name:'treeview',
                            params: { settings: settings }
                        }"></div>

 
{{/_layouts}}