{{#> _layouts}}

 
    <div class="knowledge">

        <div data-bind="component: {
            name:'banner',
            params: { 
                node: node,
                breadcrumbs:breadcrumbs()
            }
        }"></div>
        
        <div class="clear"></div>

        <div data-bind="component: {
            name:'treeview',
            params: { 
                node: node,
                settings: settings 
            }
        }"></div>

    </div>
  
{{/_layouts}}