 {{#> ../_layouts}}
  
    <div class="knowledge">

        <div class="banner">
            {{page}}
        </div>
        <div class="clear"></div>

        <div class="left col-xs-3">
           {{#block "left"}}
           
            {{/block}}
        </div>

        <div class="right col-xs-9"> 
            {{#block "right"}}
            
            {{/block}}
        </div>
        <div class="clear"></div>
    </div>
 
{{/_layouts}}
 
index.hbs  --> tree | list
index.hbs  --> search | result



