<div class="left col-xs-3">


    <div>
        每页显示
        <select id="sel_PageSize" style="width:70px;">
                                    <option value="10">10条</option>
                                    <option value="20" selected="selected">20条</option>
                                    <option value="50">50条</option>
                                </select>
 
        <div style="clear:both;"></div>
    </div>
    <div id="search">
        <table class="gridtable">
            <tr>
                <td><span>标&nbsp;&nbsp;题</span></td>
                <td>
                    <input type="text" id="inputTitle" data-bind="value: Title" placeholder="标题" style="width:154px" />
                </td>
            </tr>
            <tr>
                <td><span>关键字</span></td>
                <td>
                    <input type="text" id="inputKeyword" data-bind="value: Keyword" placeholder="关键字" style="width:154px" />
                </td>
            </tr>

            <tr data-bind=" visible:!showMetadata()">
                <td><span>知识类型</span></td>
                <td>
                    <select id="knowledgeTypes" data-bind="options: knowledgeTypes,
                                        value: selectedKnowledgeType,
                                        optionsText: 'KnowledgeTypeName',
                                        optionsValue: 'KnowledgeTypeID',
                                        optionsCaption: '全部'"></select>
                </td>
            </tr>

            <!--ko foreach: MetaDataInfo-->
            <tr>
                <td><span data-bind="text: DataContent"></span></td>
                <td>
                    <select data-bind="options: Children, 
                                optionsText: 'DataContent',
                                value:Selected, 
                                optionsValue: 'MetaMossID', 
                                optionsCaption: '全部', 
                                attr: { id: MetaMossID }"></select>
                </td>
            </tr>
            <!-- /ko-->

            <tr>
                <td><span>文件夹</span> </td>
                <td>
                    <input data-bind="autocomplete: { data: folders, maxItems: 6 }" placeholder="全部" style="width:154px; padding:5px;" type="text"/>
                </td>
            </tr>
            <tr>
                <td style="width:30%"></td>
                <td style="width:70%">
                    <button type="button" class="sops-btn" data-bind="click: search">检索</button>
                </td>
            </tr>
        </table>
        <div style="text-align:right;" data-bind="visible:SearchCount()>0">
            当前搜索结果： <b data-bind="text:SearchCount"></b>
        </div>
    </div>

    <div style="clear:both"></div>
</div>

<div class="right col-xs-9">

    <div class="result">
        
        <ol data-bind="foreach: results.pagedItems" class="list-group">
            <li class="">
                <a data-bind="attr: {href:id},text:title"></a>
                <p data-bind="text: body"></p>
            </li>
            
        </ul>
        
    </div>

    <div class="page">
        
        <ul class="pager">
            <li data-bind="css: {'disabled': !results.prev.enabled()}">
                <a href="#" data-bind="click: results.prev">Previous</a>
            </li>
            <li data-bind="css: {'disabled': !results.next.enabled()}">
                <a href="#" data-bind="click: results.next">Next</a>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>