<html>

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>

  <h1> i'm create from a template file </h1>

  <h1>{{username}}</h1> 
  {{#> info-box}}
  <h3>这儿可以被包在infobox里面</h3>
  <p>{{info}}</p>
  {{/info-box}}

  <div>
    {{#books}}{{> book}}{{/books}}
  </div>

  <div>
    <p>Books array:</p>
    <pre>
    {{!-- the tilde "$" prefix indicates that the json helper should be loaded
          as a module, which allows it to be resolved from the "helpers"
          directory, which is specified as a resolve fallback in the
          webpack config. --}}
    {{$json books}}
  </pre>
  </div>



</body>

</html>