<div class="banner">
    <div class="col-xs-3"> 
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="knowledge.html">目录</a>
            </li>
            <li>
                <a href="search.html" >搜索</a>
            </li>
        </ul>


    </div>

    <div class="col-xs-9">

        <ul class="breadcrumb">
            <li>>></li>
            <li><a href="/">主页</a></li>
            <!-- ko foreach: breadcrumbs -->
                <li>
                        >> 
                        <a data-bind="click:$parent.click,text:name"></a>
                        </li>
            <!-- /ko -->
            
        </ul>
            
    </div>
</div>